---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialHero from "../components/SocialHero.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro. Hola">
	<main>
 <!-- HERO SECTION CONTAINER -->
		<SectionContainer>
 <!-- HERO -->
			<Hero />
 <!-- SOCIAL MEDIA -->
	<SectionContainer>
		<SocialHero />
	</SectionContainer>
	</SectionContainer>
 <!-- FIN SECTION CONTAINER HERO & SOCIAL MEDIA -->


 <!-- EXPERIENCE -->
		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6">Experiencia laboral</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>