---
import Badge from "./Badge.astro";
---


 <!-- H1 -->

 <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pt-20 pl-6">
  Hey! Soy <span class=" text-yellow-200/90">J</span>o<span class=" text-yellow-200/90">B</span>u<span class=" text-yellow-200/90">C</span>o.
  <a
    href="https://github.com/Jordanbuco"
    target="_blank"
    rel="noopener"
    class="flex justify-center items-center pt-2.5"
  >
    <Badge>Visita mi GitHub</Badge>

  </a>
  
</h1>
<h5 class="flex pb-20 pt-3 pl-12">
  쯈ue es JoBuCo?...
<span class=" text-yellow-200/90">&nbsp&nbspJO</span>RDAN&nbsp<span class="text-yellow-200/90">BU</span>ILDING&nbsp<span class="text-yellow-200/90">CO</span>DE!!!
</h5>


 <!-- H2 -->
<h2 class="text-2xl text-justify pb-20">
  <span>Llevo m치s de 20 a침os incluyendo mis estudios de</span>
  <span class="text-yellow-200/90">Dise침o Gr치fico</span>
  de esa 칠poca y actualiz치ndome desde entonces, adem치s de ahora estar
  <span class="text-yellow-200/90"
    >inmerso en la Programaci칩n y la Inteligencia Artificial</span
  >. Emprendiendo desde los 18 a침os en ciudades como: <span class="text-blue-200">Castell칩n, Barcelona,
  Sevilla y M치laga</span> adem치s de algo de comercio internacional y en <span class="text-orange-800"
    >Blockchain</span
  > durante 3 a침os. Actualmente vivo en <span class="text-green-600"
    >Andaluc칤a</span
  >, 游쀯릖 Espa침a.
</h2>
